<div class="container">
  <div class="card-group row">
    <div class="col-6 m-auto">
      <div class="card bg-transparent border-light">
        <h1 class="card-title">{{access}}</h1>
        <form class="form login-form">
          <div class="mb-3  custom-align-left">
            <label class="" for="Username">Username: <i class='bx bxs-user'></i></label>
            <input type="Username" class="form-control" id="username" placeholder="Enter Username" name="Username">
          </div>
          <div class="mb-3  custom-align-left">
            <label class="" for="pwd">Password:<i class='bx bxs-lock-alt'></i></label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="pswd">
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/access.js"></script>