<div class="container-fluid">
  <div class="card-group row">
    <div class="col-xs-12 col-md-10 col-lg-8 m-auto">
      <div class="card">
        <div class="card-body">
          <figure>
            <img
              src="https://images.pexels.com/photos/1867601/pexels-photo-1867601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              class="card-img-top" alt="Resource not found image"
              style="height: 60vh; position: absolute; top: 8vh; left:0vw;">
            <figcaption>Be Inspired By Nature! Log-In or Sign-Up In Order To Continue Your Exploration.</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>